@page
<style>
    html{
        text-align: center;
    }
    .stack, .ui-draggable-dragging, .deck{
        display: inline-block;
    }

    div {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    img {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 15vw;
        max-width: 200px;
        height: auto;
    }

    .hand {
        text-align: center;
    }
</style>
<div class="webpage" id="webpage">

<div id="register">
    <fieldset>
        <legend>Register</legend>
            <div>
                <input type="text" class="form-control" id="name" placeholder="Name" style="font-size: 16px;">
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="btnRegister" style="margin-top:10px;">Register</button>
            </div>
    </fieldset>
</div>

<div id="findOpponent" style="display: none">
    <fieldset>
        <legend>Find a player to play against.</legend>
        <div>
            <input type="button" class="btn btn-primary" id="btnFindOpponentPlayer" value="Find Opponent" />
        </div>
    </fieldset>
</div>

<div id="findingOpponent" style="display: none">
    <fieldset>
        <legend>Nobody is here.</legend>
        <div>
            Waiting for someone to join.
        </div>
    </fieldset>
</div>

<div id="test">

</div>
<div id="game" style="display: none">
    

    <div class="hand" id="opponentHand">
        <div class="stack">
            <img src="~/images/Back.svg" id="player2Stack1" class="card" draggable="false">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player2Stack2" class="card" draggable="false">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player2Stack3" class="card" draggable="false">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player2Stack4" class="card" draggable="false">
        </div>
    </div>
    <div class="hand" id="playerHand">

        <div class="stack">
            <img src="~/images/Back.svg" id="player1Stack1" class="card" draggable="false">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player1Stack2" class="card" draggable="false">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player1Stack3" class="card" draggable="false">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player1Stack4" class="card" draggable="false">
        </div>
        <div></div>
        <div class="deck">
            <img src="~/images/Back.svg" id="playerDeck">
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="resetButton" onclick="resetGame()" style="margin-top:10px;">No One Wants To Reset</button>
    <div id="cardCount"></div>
</div>

<div id="newGame" style="display: none">
    <input type="button" class="btn btn-primary" id="btnNewGame" value="New Game" />
</div>

</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<script src="~/js/jquery.ui.touch-punch.js"></script>
<script src="~/js/client.js"></script>