@page
<style>
    .stack, .ui-draggable-dragging, .deck{
        display: inline-block;
        height: auto;
        width: 10vh;
    }

    div {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    img {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
        height: 100%;
    }

    #playerDeck {
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }

    .hand {
        text-align: center;
    }

    @@media only screen and (min-device-width: 400px) {
        .stack, .ui-draggable-dragging, .deck {
            width: 20vh;
        }
    }

    @@media only screen and (orientation:landscape) {
        .stack, .ui-draggable-dragging, .deck {
            width: 20vh;
        }
    }
</style>

<div id="register">
    <fieldset>
        <legend>Register</legend>
        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="button" class="btn btn-primary" id="btnRegister">Register</button>
            </div>
        </div>
    </fieldset>
</div>
<div id="findOpponent" style="display: none">
    <fieldset>
        <legend>Find a player to play against!</legend>
        <div class="form-group">
            <input type="button" class="btn btn-primary" id="btnFindOpponentPlayer" value="Find Opponent" />
        </div>
    </fieldset>
</div>
<div id="findingOpponent" style="display: none">
    <fieldset>
        <legend>Nobody is here.</legend>
        <div class="form-group">
            Waiting for someone to join.
        </div>
    </fieldset>
</div>

<div id="test">

</div>
<div id="game" style="display: none">
    

    <div class="hand" id="opponentHand">
        <div class="stack">
            <img src="~/images/Back.svg" id="player2Stack1" class="card">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player2Stack2" class="card">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player2Stack3" class="card">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player2Stack4" class="card">
        </div>
    </div>
    <div class="hand" id="playerHand">

        <div class="stack">
            <img src="~/images/Back.svg" id="player1Stack1" class="card">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player1Stack2" class="card">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player1Stack3" class="card">
        </div>
        <div class="stack">
            <img src="~/images/Back.svg" id="player1Stack4" class="card">
        </div>
        <div></div>
        <div class="deck">
            <img src="~/images/Back.svg" id="playerDeck">
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="resetButton" onclick="resetGame()">No One Wants To Reset</button>
    <div id="cardCount"></div>
</div>

<div id="newGame" style="display: none">
    <input type="button" class="btn btn-primary" id="btnNewGame" value="New Game" />
</div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<script src="~/js/jquery.ui.touch-punch.js"></script>
<script src="~/js/client.js"></script>